*{
    padding:0px;
    margin:0px;
    text-align: center;
}
body{
    background-color: rgb(105, 158, 219);
}
.mianblock{
    border: none;
    background-color: white;
    border-radius: 10px;
    width: 400px;
    height: 400px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    margin-top: 120px;
    margin-left: 450px;
    margin-right: 20px;
}
.mianblock input{
    width: 90%;
    height: 7vh;
    border: none;
    outline: none;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    text-align: left;
    position: relative;
    top: 12px;
}
.mianblock button{
    width: 90%;
    height: 6vh;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    position: relative;
    top: 12px;
}
.mianblock form h2{
    position: relative;
    top: 11px;
}
.mianblock .fpwd{
    position: relative;
    top: 11px;
    text-decoration: none;
}
.mianblock .fpwd:hover{
    text-decoration: underline;
}
.mianblock .p{
    position: relative;
    top: 17px;
}
.mianblock .p .su{
    text-decoration: none;
}
.mianblock .p .su:hover{
    text-decoration: underline;
}